/*Variables*/
$background-color: #3498db;
$window-color: #e67e22;
$transition: all 1s;

/*global*/

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    background: $background-color;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
}

/*game-window*/

.game-window {
    background: $window-color;
    width: 800px;
    height: 600px;
    margin: 100px auto;
    border: white solid 5px;
    border-radius: 15px;
    justify-items: center;
    box-shadow: black;
    
}

.game-messages {
    justify-content: center;
    flex-direction: column;
}

.btn {
    display: inline-block;
    min-width: 100px;
    margin: 10px auto 0 auto;
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: $window-color;
    
      &:hover {
        background: $window-color;
        color: white;
    }
    &:disabled {
        opacity: 0.65; 
        cursor: not-allowed;

    }
  }


.game-buttons {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

#messages {
    text-align: center;
    height: 150px;
    padding-top: 50px;
}

.restart-button {
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    
}

#results {
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    align-content: flex-end;
}

.images-l {
    padding-top: 50px;
    padding-left: 50px;
}

.images-r {
    padding-top: 50px;
    padding-right: 100px;
}